* {
    box-sizing: border-box;
    margin: 0px;
}


body {
    font-family: "Helvetica Neue", sans-serif;
    /* margin: 25px; */
    background-image: url(pngtree-frosted-glass-texture-frosted-white-gray-background-image_771741.jpg);
    max-width: 540;
  }

.title {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.cal-container {
    max-width: 350px;
    height: 85vh;
    width: 100%;
    margin: 40px auto;
    border-radius: 50px;
    padding: 20px;
    background-color: black;
    color: white;
    
}  
  
  .result {
    font-size: 40px;
    font-weight: lighter;
    height: 50px;
    margin-bottom: 25px;
    margin-right: 20px;
    text-align: right;
  }
  

  .result-container {
    height: 20vh;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

  .btn-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 60vh;
  }
  
  .btn {
    align-items: center;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font-size: 25px;
    justify-content: center;
    transition: filter .3s;
  }
  
  .btn.func{
    color: black;
    background: #a5a5a5;
  }
  
  .btn.oper {
    background: #bb8a49;
  }
  
  .btn.numb-0 {
    border-radius: 55px;
    grid-column: 1 / span 2;
    justify-content: flex-start;
    padding-left: 43px;
  }
  
  